html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.index {
    margin-bottom: 60px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/836/959/non_2x/dark-pink-blue-backdrop-with-dots-vector.jpg");
}
.preg {
    margin-top: 0%;
    background-image: url("https://www.formulatv.com/images/articulos/102000/102042_AvP562qaE7J48sk0oR91xULNW3czFYiBg-h2.jpg");
}
.fin {
    margin-top: 0%;
    background-image: url("/fondoFin.png");
}

.logo {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 12%;
    margin-right: 10%;
    text-align: center;
}

.txtIndex {
    color: yellow;
    font-size: 30px;
}

.form {
    margin-left: 30%;
    text-align: center;
}

.rsp {
    margin-left: 0%;
    margin-top: 5%;
    margin-right: 2%;
}

.preguntas {
    margin-top: 20%;
}

.pozo {
    margin-top: 5%;
}

.pregunta {
    font-size: 200%;
    background-color: blue;
    font-style: bold;
    color: rgb(93, 0, 105);
}

.texto {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;
}

.bg-image {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
}
#plantarse{
    font-size: 150%;
}
.jumbo{
    margin-top: 20%;
    background-color: rgba(0,0,255,0.2);
}
.textoFin{
    font-size: 300%;
}
.textoFin2{
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}