@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Millonario</title>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<body class="index">
  <img class="logo" src="logo.webp">
</body>

  <form class="form" method="get" action = '@Url.Action("Pregunta","Home")'>
    <div class="row mx-auto align-items-center, form">
        <div class="col-auto">
        <input class="txtIndex" type="text" id="Nombre" name="Nombre" placeholder="Ingresar el nombre del jugador" required></br>
        </div>
        <div class="col-auto">
          <button type="submit">Agregar Jugador</button>
        </div>
    </div>
  </form>
    

  