@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Millonario</title>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
  <center>
  <img class="logo" src="logo.webp">
  <a href='@Url.Action("Pregunta","Home")' class="btn btn-primary">Jugar</a>
  </center>
</body>
