@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Millonario</title>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body class="index">
  <img class="logo" src="logo.webp">
</body>
<form class="form" method="post" action = '@Url.Action("GuardarJugador","Home")' enctype="multipart/form-data">
    <div class="row mx-auto align-items-center, form">
      <input type="hidden" id="idJugador" name="idJugador" value=@ViewBag.idJugador>
      <div class="col-auto">
        <span class="txtIndex">Nombre:</span>
      </div>
      <div class="col-auto">
        <input type="text" id="Nombre" name="Nombre" required></br>
      </div>
      <div class="col-auto">
        <button type="submit">Agregar Jugador</button>
      </div>
    </div>
  </form>
  