<body class="fin">
<<<<<<< HEAD
<p class="texto" style="color: #f3da0b;">Jugador: nombre jugador</p>
=======
<p class="texto">Jugador: nombre jugador</p>
>>>>>>> 945f54b0ce647fceb3d159b1bbf8e371eba68ccb
<div class="container text-center jumbo texto">
  <div class="row">
    <div class="col-1">
      
    </div>
    <div class="col-10">
      <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 textoFin">Fin del juego</h1>
    <p class="lead textoFin2">Te has llevado: Monto del pozo</p>
  </div>
</div>
    </div>
  </div>
</div>
<<<<<<< HEAD
</body>
=======
</body>
>>>>>>> 945f54b0ce647fceb3d159b1bbf8e371eba68ccb
