@{
  <body class="fin">
<div class="container text-center jumbo texto">
  <div class="row">
    <div class="col-1">
      
    </div>
    <div class="col-10">
      <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 textoFin">Fin del juego</h1>
    <p class="lead textoFin2">Te has llevado:$ @ViewBag.pozoGanado</p>
  </div>
</div>
    </div>
  </div>
</div>
</body>

}
