<p class="texto">Jugador: nombre jugador</p>
<div class="container text-center">
  <div class="row">
    <div class="col-1">
      
    </div>
    <div class="col-10">
      <div class="jumbotron jumbotron-fluid jumbo">
  <div class="container jumbo">
    <h1 class="display-4">Punto de inflección</h1>
    <p class="lead">Al haber contestado correctamente esta pregunta, te toca decidir qué hacer, si deseas plantarte y llevarte lo conseguido hasta ahora o continuar en el juego podiendo llegar a perder todo y solo quedarte con el ultimo monto seguro.</p>
  </div>
</div>
<a class="btn btn-success" id="plantarse" href='@Url.Action("Pregunta","Home")'>Continuar</a>
<a class="btn btn-danger" id="plantarse" idhref='@Url.Action("PantallaFinDelJuego","Home")'>Plantarse</a>
    </div>
  </div>
</div>
    <!-- Button trigger modal -->


    